learner-portfolio-saas/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0872f44-221f-4c9a-86ae-fab781f707b5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4190aa02-b127-4629-a6d8-0b45b3c25a0e",
      "name": "Webhook",
      "webhookId": "b0872f44-221f-4c9a-86ae-fab781f707b5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef7ecf33-1cef-481e-b872-36314a19e8f7",
              "leftValue": "={{$json.body.eventname || $json.body.event}}",
              "rightValue": "\\core\\event\\user_created",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        0
      ],
      "id": "e22c5ebc-523f-4c97-9d05-94a5741f8494",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ ($json.firstname || $json.first_name || 'Unknown')    + ' ' +    ($json.lastname || $json.last_name || $json.surname || '') }} {{ $json.id || $json.userid || '' }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1O7SgVPL1zfv1cjSHF-QNfrjolq6vADbn",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        880,
        0
      ],
      "id": "1315a326-1abc-46f5-a530-504a8b153de1",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "daTrtpgdZ8wj6y4q",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -208,
        -1744
      ],
      "name": "Start",
      "id": "af7e8046-b75e-412e-9769-722d10cd917c",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        -16,
        -1744
      ],
      "name": "Normalise Input",
      "id": "5d9c0b6a-69a5-402f-b6a4-d4e03ac87e3e",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "query",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        224,
        -1744
      ],
      "name": "DB: Get User",
      "id": "5025fdd3-4a44-4dc0-8905-8ec06316ba4b",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        432,
        -1744
      ],
      "name": "Prepare Names & Config",
      "id": "cb79f6af-5de3-4ba4-951e-ad75855a114e",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "list"
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        -1872
      ],
      "name": "Drive: Search Student Folder",
      "id": "0dae7068-6408-4083-b8b1-3bef63e289f3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "daTrtpgdZ8wj6y4q",
          "name": "Google Drive account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "createFromText",
        "name": "={{ ($json.firstname || $json.first_name || 'Unknown')    + ' ' +    ($json.lastname || $json.last_name || $json.surname || '') }} {{ $json.id || $json.userid || '' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=1O7SgVPL1zfv1cjSHF-QNfrjolq6vADbn",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        -1632
      ],
      "name": "Drive: Create Student Folder",
      "id": "a1edd55b-e4bc-4a8d-a3f0-5eb5c552fdd9",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "daTrtpgdZ8wj6y4q",
          "name": "Google Drive account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        880,
        -1744
      ],
      "name": "Pick Folder ID",
      "id": "557938dc-a93c-4681-9768-0a3ab009fe9c",
      "disabled": true,
      "notes": "Reads the ID from search (if exists) or the create node"
    },
    {
      "parameters": {
        "operation": "create"
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        -1872
      ],
      "name": "Create Div1",
      "id": "e9d88be2-7ac7-4432-af44-3903c36aa9dd",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create"
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        -1744
      ],
      "name": "Create Div2",
      "id": "fb191def-f21f-4113-b6a1-db107fae1d7a",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create"
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        -1632
      ],
      "name": "Create Div3",
      "id": "f6173266-9064-4b69-847a-1ef0ff7a2184",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create"
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        -1504
      ],
      "name": "Create Div4",
      "id": "9f712822-4529-4a3b-96fc-c16b412dd356",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "create"
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        -1392
      ],
      "name": "Create Div5",
      "id": "af441e95-2f02-416c-bb7d-374196df5930",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "copy"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        1296,
        -1872
      ],
      "name": "Docs: Copy Div1 Template",
      "id": "96eea166-411b-4c2e-a371-e6d0c35f73c1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "updateContent"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        1504,
        -1872
      ],
      "name": "Docs: Fill Div1",
      "id": "c037122e-defd-483c-9a35-b029cdcd0f99",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "export"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        1696,
        -1872
      ],
      "name": "Docs: Export Div1 PDF",
      "id": "b46a2fc5-dd8c-4c17-a676-96c8e0359198",
      "disabled": true
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1904,
        -1872
      ],
      "name": "Drive: Save Div1 PDF",
      "id": "f502a63c-fd85-41d4-9c0f-99103c6bcdde",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "copy"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        1296,
        -1712
      ],
      "name": "Docs: Copy Div2 Template",
      "id": "49b344ba-d7f3-4cfb-b082-b81bc7bfbe88",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "updateContent"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        1504,
        -1712
      ],
      "name": "Docs: Fill Div2",
      "id": "e48dbc72-441e-4891-8f85-ffbfeb515545",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "export"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        1696,
        -1712
      ],
      "name": "Docs: Export Div2 PDF",
      "id": "7e65ebba-18ea-46a4-bced-7d44819df239",
      "disabled": true
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1904,
        -1712
      ],
      "name": "Drive: Save Div2 PDF",
      "id": "6587a7b5-1ad8-4c22-8b86-c6be99a2125f",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        0
      ],
      "id": "a3a362ec-e0f3-4409-aef1-40ac2e08ba08",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "=ID Number: {{$json[\"user\"][\"id_number\"]}}\nTitle: {{$json[\"user\"][\"title\"]}}\nFirst Name: {{$json[\"user\"][\"first_name\"]}}\nMiddle Name: {{$json[\"user\"][\"middle_name\"]}}\nSurname: {{$json[\"user\"][\"surname\"]}}\nDate of Birth (YYYY\\MM\\DD): {{ $json[\"user\"][\"dob\"].split(\"-\").join(\"\\\\\") }}\nEquity Group (circle): {{$json[\"user\"][\"equity_group\"]}}\nAre you a South African Citizen: {{ $json[\"user\"][\"citizen\"] ? \"Yes\" : \"No\" }}\nNo of years in the profession: {{$json[\"user\"][\"years_profession\"]}}\nHome language: {{$json[\"user\"][\"home_language\"]}}\nDisabilities: {{$json[\"user\"][\"disabilities\"]}}\nCompany: {{$json[\"user\"][\"company\"]}}\nResidential Address: {{$json[\"user\"][\"residential_address\"]}}\nPostal Address: {{$json[\"user\"][\"postal_address\"]}}\nCell phone number: {{$json[\"user\"][\"cell\"]}}\nEmail Address: {{$json[\"user\"][\"email\"]}}\nHighest school qualification (Grade): {{$json[\"user\"][\"highest_school_qualification\"]}}\nApprenticeship / other: {{$json[\"user\"][\"apprenticeship_other\"]}}\n",
        "name": "=Learner Profile - {{$json[\"user\"][\"first_name\"]}} {{$json[\"user\"][\"surname\"]}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1O7SgVPL1zfv1cjSHF-QNfrjolq6vADbn",
          "mode": "list",
          "cachedResultName": "Rosco_Users",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1O7SgVPL1zfv1cjSHF-QNfrjolq6vADbn"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        0
      ],
      "id": "a997602b-8938-4179-870f-511bae99e3af",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "daTrtpgdZ8wj6y4q",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Docs: Copy Div1 Template": {
      "main": [
        [
          {
            "node": "Docs: Fill Div1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs: Fill Div1": {
      "main": [
        [
          {
            "node": "Docs: Export Div1 PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs: Export Div1 PDF": {
      "main": [
        [
          {
            "node": "Drive: Save Div1 PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs: Copy Div2 Template": {
      "main": [
        [
          {
            "node": "Docs: Fill Div2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs: Fill Div2": {
      "main": [
        [
          {
            "node": "Docs: Export Div2 PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs: Export Div2 PDF": {
      "main": [
        [
          {
            "node": "Drive: Save Div2 PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f6302a73-98c7-4bfb-a80c-50aa097e3401",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b9443896ac1d5c70bc48bdb680329124c071c5625f43796f77866ff869176bf"
  },
  "id": "lpjP92Qz37gLVD4h",
  "tags": []
}